<!DOCTYPE html>
<head>
<title>Data Structures and Algorithms</title>
<%= stylesheet_link_tag 'ds2.scss' %>
 <center><h1>LearnOnline</h1></center>
	  <center><h7>-an online study point</h7></center>
	   <hr/>
</head>
<body>
<div style="background-color:#FFFFE0;float:center;">
<center>
<a data-config="commands=*;size=14;status=off;theme=logo;language=en;bgcolor=#2a92f3" id="skaip-buttons" href="http://www.skaip.org/">Skype</a><script src="//apps.skaip.org/buttons/widget/core.min.js" defer="defer"></script></center>
<ul>
<br/>
<br/>
<a href="skype:scmakra99">Call teacher id:scmakra99</a><br/>
<a href="skype:nairita911">Call teacher id:nairita 911</a><br/>
<a href="live:bablu.bhumca14">Call teacher id:live:bablu.bhumca14</a><br/>
<a href="arghachakraborty92">Call teacher id:live:arghachakraborty92</a><br/>
</ul>
</div>
</body>
</html>
